body {
  margin: 0;
  background-color: #1a1a1a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
    color: #fff;
}
::-webkit-scrollbar{
  width: .5em;
  background-color: #323232;
}
::-webkit-scrollbar-thumb{
  background-color: #f3f3f3;
}
.is-dropdown:hover{
    transition: .5s;
    color: #eed70b;
}
.link-hover:hover{
    color: #25a8e0;
}